<div class="box">
  <div class="box-header with-border">
    <span class="label label-primary" >添加</span>
    <div class="input-group input-group-sm" style="width: 150px;">
      <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

      <div class="input-group-btn">
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
      </div>
    </div>

  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th style="width: 10px">#</th>
        <th>图片</th>
        <th>商品名</th>
        <th>详情</th>
        <th>优惠</th>
        <th>原价</th>
        <th>现价</th>
        <th>操作</th>
      </tr>
    
      <tr>
        <td>1.</td>
        <td><img src="/static/images/1.jpg" alt=""></td>
        <td>葡萄</td>
        <td>详情</td>
        <td>优惠</td>
        <td>原价</td>
        <td>现价</td>
        <!-- <td>
          <div class="progress progress-xs">
            <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
          </div>
        </td> -->

        <td><span class="badge bg-green">修改</span><span class="badge bg-red">删除</span></td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>